<footer>
    <p>&copy; Todos os direitos reservados <a target="_blank" href="https://www.instagram.com/mateus_suricato/">@mateus_suricato</a></p>
    <p>Dados retirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
</footer>