<footer>
    <p>&copy; Todos os direitos reservados <a target="_blank" href="">@mateus_suricato</a></p>
    <p>Dados retirados de <a href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
</footer>