@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    background-color: #265caa;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
   padding: 10px;
}

header nav img {
    width: 50px;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.banner img {
    margin-top: 70px;
    width: 100%;
}

main {
    margin: auto;
    max-width: 1100px;
}

h1 {
    margin: 20px 0 20px 0;
    text-align: center;
}

.cadastro {
    display: flex;
    flex-wrap: wrap;
}

.cadastro img {
    width: 50%;
    padding: 30px;
    margin: auto;
}

.cadastro div form {
    padding: 50px;
}

.cadastro div form a {
    text-decoration: none;
}

.cadastro div form input {
    width: 100%;
    padding: 7px;
    margin-bottom: 15px;
}

.cadastro div form button {
    display: block;
    border: 1px solid blue;
    background-color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.cadastro div form p {
    color: red;
    margin-bottom: 10px;
}

footer {
    background-color: #265caa;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-top: 130px;
    position: absolute;
    width: 100%;
    bottom: 10;
}

footer p {
    margin-top: 10px;
}

footer p a {
    color: yellow;
}