@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    background-color: #265caa;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
   padding: 10px;
}

header nav img {
    width: 50px;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.banner img {
    margin-top: 70px;
    width: 100%;
}

main {
    margin: 0 10px;
}
 
section.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-right: 20px;
}

section.cards div.card{
    width: 20rem;
    box-shadow: 5px 5px 5px 5px #00000015;
    padding: 1rem;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 30px;
}

section.cards a {
    text-decoration: none;
    color: black;
    text-align: center;
    transition: transform .5s;
    text-transform: uppercase;
}

section.cards a:hover {
    transform: scale(1.1);
}

section.cards div.card img{
    width: 100%;
}

section.cards div.card h2{
    margin-bottom: 1rem;
}

section.cards div.card p.descricao{
    margin-bottom: 1rem;
}

section.cards div.card div#aling {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: white;
}

footer {
    background-color: #265caa;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    margin-top: 110px;
    position: absolute;
    width: 100%;
    bottom: 10;
}

footer p {
    margin-top: 10px;
}

footer p a {
    color: yellow;
}